# CI Environment
dist: bionic

# Job Configurations
jobs:
  include:
    - language: python
      python: "3.7.9"
      addons:
        sonarcloud:
          organization: swsnu
          token:
            secure: "AUY0ve1fg3nDC1XLHys0kbpnRWYaT9nqtiVfDWONmA33+TzxKDG8tsOoUTcZ1gkhj79EtSMTn8vKOZCPkgSXqd+2hgLv6LTqFX228GYzMv+fAd63yEzkmCV2/qmXt/eUeR1vP16t3HjtEAEL5/PeORcyoXqgY5QHrKVeuzs3cN7qr5gdjcKDU1Sg4uy9B1WRR7witoGY0cj97Bi7twHE/+RyjCSLE8V3tVmyEhoYfULCySTSEoAo/OXGXaDPGZOoVi1tr0VriAhGSxYgfe5xNLrNIcRMTzYIRqmivmMSfB+nL3tcnGubkPxlEl8FujwZxr1n05fCwgNeJ38ubpD/vPb4vV9LDbY4ZQY5qs+5EjbzJft23XjdzF0eT2C/sBZNdzpg3Z/DSeKT0f2iA1F+xeqoGLGPhyfIaZBRut3gvIgr0SLDKk1ka+NAgR1Hqg6zPJT7+tME7YytUZ9KhqBJl0bGETXrWm/KxAjNK8E8yBIE5+nvwU1n3Zl+8tjOokGdwMbAERU6jf2FB+lwPUsYHsFVpMkKL3E7EUtvuyJyGb+vMzdqLwhjllawV8TqTcmC1KsDcafy+voENYQ9s2vbhr8qzQDre5xkOs4fAe34FRCfByO6ktr+vZ73nxEIdfC8pykOx2uhwKxTEUqwuL06gLQYMpmdiyHoB6qn47eXBWs="
      install:
        - cd backend
        - pip install -r requirements.txt
      script:
        - pylint **/*/*.py --load-plugins pylint_django
        - coverage run --source='.' */manage.py test
        - coverage xml
        - cd .. && sonar-scanner

    - language: node_js
      node_js: 14
      install:
        - cd frontend
        - yarn install
      script:
        - yarn test --coverage --watchAll=false
