.post {
  margin: 0 5px 20px 5px;
  padding: 0;
  width: 215px;
  height: 360px;
  border: none;
  text-align: left;
  background-color: transparent;

  #place {
    color: rgba(36, 113, 0, 0.49);
    font-weight: 600;
    margin-bottom: 8px;
    margin-left: 8px;
  }

  .date {
    position: relative;
    bottom: 222px;
    margin-left: 100px;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 8px;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.45);
  }

  .thumbnail {
    width: 215px;
    height: 215px;
    object-fit: cover;
    margin-bottom: 14px;
    border-radius: 10px;
  }

  .post-capacity {
    position: relative;
    bottom: 120px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 50px 12px 5px 0;
    border-radius: 0 0 10px 10px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.65) 100%
    );

    img {
      margin-right: 5px;
    }
  }

  .post-body {
    position: relative;
    bottom: 105px;
    display: flex;
    flex-direction: column;
    padding-left: 5px;

    .title {
      max-height: 2.3em;
      font-weight: 700;
      font-size: 16px;
      margin-right: 10px;
      margin-bottom: 3px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      word-wrap: break-word;
      line-height: 1.2em;
    }
    .host-name {
      color: #b2b2b2;
      font-weight: bold;
    }
  }

  .post-footer {
    position: relative;
    bottom: 95px;
    justify-content: space-between;
    padding-left: 3px;

    .keyword-container {
      display: flex;
      flex-wrap: wrap;
      row-gap: 5px;

      span {
        margin-right: 5px !important;
        font-size: 12px;
        border: 1px solid rgba(36, 113, 0, 0.49);
      }
    }

    .anticon-user {
      margin-right: 5px;
    }
  }
}
