.post {
  margin: 0 10px 20px 10px;
  padding: 0;
  width: 220px;
  height: fit-content;
  border: none;
  text-align: left;
  background-color: transparent;

  #place {
    color: rgba(36, 113, 0, 0.49);
    font-weight: 600;
    margin-bottom: 8px;
    margin-left: 8px;
  }

  .date {
    position: relative;
    left: 108px;
    bottom: 222px;
    width: fit-content;
    padding: 0px 8px;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.45);
  }

  .thumbnail {
    width: 220px;
    height: 220px;
    object-fit: cover;
    margin-bottom: 14px;
    border-radius: 10px;
  }

  .post-capacity {
    position: relative;
    left: 120px;
    bottom: 70px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    img {
      margin-right: 5px;
    }
  }

  .post-body {
    position: relative;
    bottom: 55px;
    display: flex;
    flex-direction: column;
    padding-left: 5px;

    .title {
      max-height: 2.3em;
      font-weight: 700;
      font-size: 18px;
      margin-right: 10px;
      margin-bottom: 3px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      word-wrap: break-word;
      line-height: 1.2em;
    }
    .host-name {
      color: #b2b2b2;
      font-weight: bold;
    }
  }

  .post-footer {
    position: relative;
    bottom: 45px;
    justify-content: space-between;
    padding-left: 3px;

    .keyword-container {
      display: flex;
      flex-wrap: wrap;
      row-gap: 5px;

      span {
        margin-right: 5px !important;
        font-size: 12px;
        border: 1px solid rgba(36, 113, 0, 0.49);
      }
    }

    .anticon-user {
      margin-right: 5px;
    }
  }
}
