.post {
  margin: 0 10px 20px 10px;
  padding: 0;
  width: 300px !important;
  height: 285px !important;
  border: none;
  text-align: left;
  background-color: transparent;


  .date {
    position: relative;
    left: 108px;
    bottom: 222px;
    width: fit-content;
    padding: 0px 8px;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    background-color : rgba(0, 0, 0, 0.45);
  }

  .thumbnail {
    width: 220px;
    height: 220px;
    object-fit: cover;
    margin-bottom: 14px;
    border-radius: 10px;
  }

  .post-body {
    display: flex;
    height: 90px;
    position: relative;
    bottom: 22px;

    .user-icon {
      margin: 0 10px 0 10px;
      width: 24px;
    }

    p {
      margin: 0;
      color: black;
    }

    .title {
      max-height: 2.3em;
      font-weight: 700;
      font-size: 18px;
      margin-right: 10px;
      margin-bottom: 3px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      word-wrap: break-word;
      line-height: 1.2em;
    }
  }

  .post-footer {
    height: 20px;
    text-align: right;
    margin: 0 10px 10px 10px;
    position: relative;
    bottom: 22px;
    display: flex;
    justify-content: space-between;

    .keyword-container {
      position: relative;
      bottom: 5px;
      span {
        margin-right: 5px;
      }
    }

    .anticon-user {
      margin-right: 5px;
    }
  }
}
