.local-signin-button {
  margin-top: 20px;
  background-color: #247100;
  color: #fff;
  box-shadow: none;
}

.social-signin-button {
  margin-bottom: 20px;
}

.signup-instruction {
  margin: 0 auto;
  margin-top: 15px;
  color: #878787;

  .signup-button {
    cursor: pointer;
    border-bottom: 1px solid #878787;
  }
}
