#post-edit-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: #fafafb;

  #post-edit-content {
    margin: 100px auto 0 auto;
    width: 60vw;
    min-width: 1000px;
  }

  #header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background: linear-gradient(
        180deg,
        rgba(36, 113, 0, 0.49) 0%,
        rgba(14, 14, 14, 0.49) 100%
      ),
      url('../../assets/image/exercise/soccer0.jpg') center no-repeat;
    background-size: cover;
    border-radius: 20px;

    h1 {
      margin: 40px 0 0 20px;
      color: #ffffff;
      font-weight: 700;
      font-size: 30px;
    }

    #post-description {
      margin-left: 20px;
      color: #ffffff;
    }

    #select-container {
      position: relative;
      display: flex;
      align-items: center;
      right: 0;
      margin-left: auto;

      span {
        display: inline-block;
        width: 120px;
        height: 45px;
        line-height: 45px;
        border-radius: 40px;
        border: 1px solid #b6b6b6;
        padding-left: 16px;
        padding-right: 12px;
        margin-left: 10px;
        margin-right: 20px;
        // -o-appearance: none;
        // -webkit-appearance: none;
        // -moz-appearance: none;
        appearance: none;
        background: #ffffff url('../../assets/image/icon/select-chevron.svg')
          calc(100% - 10px) center no-repeat;
        cursor: default;
      }
    }
  }

  .box {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
    background: #ffffff;

    & > span {
      display: block;
      width: 100%;
      background: #f1f1f5;
      padding: 10px 20px;
      color: #878787;
      font-weight: 500;
      font-size: 18px;
      border-radius: 20px 20px 0 0;
    }

    & > div {
      background: #ffffff;
    }
  }

  #post-body {
    display: flex;
    width: 100%;
    height: 350px;
    margin-top: 25px;

    .shadow {
      box-shadow: 0px 4px 25px rgba(196, 203, 216, 0.25);
      height: 100px;

      & > span {
        background: #ffffff !important;
        border-bottom: 1px solid #f1f1f5;
      }

      & > input {
        border: 0;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        font-size: 18px;
        font-weight: 400;
        margin-top: 8px;
        color: #191414;

        &::placeholder {
          color: #bebebe;
        }
      }
    }

    .left {
      display: flex;
      flex-direction: column;
      width: 35%;
      height: 100%;
      padding: 0;
      margin-right: 15px;

      #date {
        height: 100px;

        #date-content {
          display: inline-block;
          color: #191414;
          background: 0;
          font-weight: 400;
          font-size: 18px;
        }
      }

      .capacity {
        height: 140px;

        .capacity-content {
          display: flex;
          margin-left: 20px;
          margin-top: 13px;
          border-radius: 0 0 20px 20px;

          span {
            font-size: 16px;
            margin-right: 20px;
          }

          input {
            width: 75%;
            height: 40px;
            border: 1px solid #d9d9d9;
            border-radius: 7px;
            padding-left: 20px;
          }
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      width: 65%;

      #kakaotalk-link-content {
        border-radius: 0 0 20px 20px;
      }
    }
  }

  #edit-button-container {
    display: flex;
    width: 100%;
    height: 50px;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;

    & > button {
      width: 140px;
      background: #247100;
      border: 0;
      color: #ffffff;
      font-size: 16px;
      border-radius: 11px;
      padding: 8px 18px;
    }

    #edit-submit-button {
      img {
        width: 28px;
        margin-right: 15px;
      }
    }
  }
}
