.signup-container {
  #local-signup-button {
    background-color: #247100;
    color: #ffffff;
    box-shadow: none;
    margin: 20px 0;
  }

  .social-signup-button {
    margin-bottom: 20px;
  }

  .signin-instruction {
    margin: 15px auto 50px auto;
    color: #878787;

    .signin-button {
      cursor: pointer;
      border-bottom: 1px solid #878787;
    }
  }
}
