#post-detail-component {
  display: flex;
  flex-direction: column;

  #header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    button {
      border-radius: 5px;
      font-size: small;
    }
    img {
      margin-right: 15px;
      width: 40px;
    }
  }
  #body-1 {
    display: flex;
    margin-bottom: 40px;
    height: 360px;

    #left {
      flex-basis: 50%;
      padding-right: 5%;
      margin-top: 7%;

      p {
        color: #7d7987;
        font-size: small;
      }

      Label {
        border-radius: 55px;
      }

      #keyword-container {
        margin-top: 10px;

        .keyword, input {
          // display: inline-block;
          border-radius: 55px;
          height: 23px;
          padding: 3px 15px;
          margin-right: 15px;
          border: 1px solid rgba(36, 113, 0, 0.49);
          color: rgba(36, 113, 0, 0.49);
          text-align: center;
          font-size: 12px;
          
        }
        input::placeholder{
          font-size: 12px;
          color: rgba(36, 113, 0, 0.49);
          text-align: center;
        }

        

        #edit-keyword-button{
          background : none;
          border: 0;
          color: #878787;
        }
      }
    }

    #right {
      flex-basis: 50%;
      box-shadow: 10px 40px 50px rgba(223, 223, 223, 0.4);
      border-radius: 20px;
      padding: 45px;
      background: #ffffff;

      #header {
        color: #c4c4c4;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 30px;
      }
      #card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 1fr 1.5fr;
        #title {
          color: #7d7987;
          font-size: 12px;
          font-weight: 400;
        }
        #content {
          font-weight: 500;
          font-size: 15px;
        }
      }
      button {
        background: #247100;
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.14);
        border-radius: 5px;
        color: white;
        font-size: 12px;
        border: none;
        width: 100%;
        padding: 15px 0px 15px 0px;
        margin-top: 10px;
        span {
          cursor: pointer;
        }
      }

      .disabled {
        background: #a9c39c;
        cursor: not-allowed;
        span {
          cursor: not-allowed;
        }
      }

      .invisible {
        display: none !important;
      }

      #participants-container {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 10px;
        z-index: 5;
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);

        .participant-content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 50px;
          padding: 10px;

          #participant-nickname {
            margin-left: 15px;
            cursor: pointer;
          }

          .participant-button-container {
            display: flex;
            align-items: center;

            #pending-button {
              width: 60px;
              height: 30px;
              margin: 0;
              margin-right: 10px;
              line-height: 0;
              background: 0;
              border: 1px solid #247100;
              border-radius: 20px;
              color: #247100;
              box-shadow: none;
            }

            #accepted-span {
              width: 60px;
              height: 30px;
              margin: 0;
              margin-right: 10px;
              line-height: 0;
              background: 0;
              border: 1px solid #d3d3d3;
              border-radius: 20px;
              color: #d3d3d3;
              box-shadow: none;
              cursor: default;
            }

            #participant-delete-button {
              background: 0;
              box-shadow: none;
              margin: 0;
              width: 40px;
            }
          }
        }
      }
    }
  }
  #body-2 {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 3fr;
    background: linear-gradient(
      208.18deg,
      rgba(36, 113, 0, 0.49) 9.05%,
      #247100 76.74%
    );
    border-radius: 24px;
    margin-bottom: 60px;
    column-gap: 15px;

    #profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 20px;

      button {
        background: 0;
        outline: 0;
        border: 0;

        img {
          width: 160px;
          height: 160px;
        }
      }
    }
    #user-openkakao {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 190px;
      margin-top: 70px;
      margin-bottom: 70px;

      #title {
        color: #ffffff;
        font-size: 13px;
        font-weight: 100;
        margin-bottom: 3px;
      }

      #content {
        color: #ffffff;
        font-size: 20px;
        display: flex;
        flex-direction: column;

        span,
        a {
          display: inline-block;
        }

        a {
          word-wrap: break-word;
        }
      }
    }
    #place-info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-top: 40px;
      margin-bottom: 40px;
      #title {
        color: #ffffff;
        font-size: 13px;
        font-weight: 100;
        margin-bottom: 3px;
      }
      #content {
        color: #ffffff;
        font-size: 15px;
        font-weight: 500;
      }
    }
  }
}
