.noti-item-container {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  padding: 10px;
  justify-content: space-between;

  .noti-time {
    color: green;
    margin-left: 5px;
  }

  .noti-dot {
    margin-left: 10px;
  }

  .read {
    display: none;
  }
}
