.onboarding {
  position: fixed;
  user-select: auto;
  top: 0;
  width: 100vw;
  height: 100vh;

  .bg-deco {
    position: absolute;
  }

  #small-dots {
    left: 40px;
    top: 100px;
  }

  #big-dots {
    right: -10px;
    bottom: -40px;
  }

  #line-circle {
    bottom: -40px;
    left: 0;
  }

  .onboarding-content {
    width: 70%;
    height: 100vh;
    margin: 5vh auto 0 auto;

    h3 {
      font-weight: 700;
      font-size: 30px;
    }

    & > span {
      color: #a3a3a3;
    }

    form {
      display: flex;

      label {
        color: #878787;
      }

      #introduction {
        margin-bottom: 0;
      }

      span,
      input,
      select {
        font-size: 14px;
        border: 1px solid #bebebe;
        border-radius: 6px;
        height: 50px;
        margin: 15px 0;
        padding-left: 20px;
      }

      select {
        -o-appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url('../../assets/image/icon/onboarding-chevron.svg')
          calc(100% - 10px) center no-repeat;

        &:focus {
          border: 1px solid #247100;
          box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
          transition: 300ms;
        }
      }

      input {
        &::placeholder {
          color: #bebebe;
        }
        &:focus {
          border: 1px solid #247100;
          box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
          transition: 300ms;
        }
      }

      .gu-dong {
        display: flex;
        align-items: center;
      }

      .loading {
        color: #bebebe;
      }

      .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        margin-right: 50px;
      }

      .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;

        .preferred-exercise-container {
          display: flex;
          flex-direction: column;
          margin: 0;
        }

        .exercise-array-container {
          height: 220px;
          overflow: scroll;
          padding: 0;

          &::-webkit-scrollbar {
            width: 0;
          }

          .exercise-in-array {
            display: flex;
            width: 100%;
            height: 40px;
            justify-content: space-between;
            align-items: center;

            img {
              margin-bottom: 5px;
            }

            span {
              border: 0;
            }

            button {
              background: 0;
              border: 0;
            }
          }
        }

        .exercise {
          width: 60%;
          margin-right: 15px;
        }

        .skill-level {
          width: calc(40% - 15px);
        }

        .onboarding-submit-button {
          background: #247100;
          color: #ffffff;
          border: 0;
          border-radius: 6px;
          height: 50px;
          cursor: pointer;
          margin: 0;
        }
      }
    }
  }
}
